<h1>Pet Information</h1>

<ul>
  <li class="box"><%= image_tag(pet_image_path(@pet), alt: 'Pet Image', class: 'pet-image') %></li>
  <li><%= @pet.name %></li>
  <li><%= @pet.age %></li>
  <li><%= @pet.species %></li>
  <li>$<%= @pet.price %></li>
</ul>
