<% if user_signed_in? %>
 <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>

<h1>Petstore</h1>

<div class="grid-container">
  <% @pet.each do |pet| %>
    <% next if pet.sold == true %>
    <%= link_to new_order_path(id: pet.id) do %>
      <div class="box">
        <div class="pet-box">
          <div class="pet-image-container"><%= image_tag(pet_image_path(pet), alt: 'Pet Image', class: 'pet-image') %></div>
            <div class="pet-details">
              <div><%= pet.name %></div>
              <div>Age: <%= pet.age %></div>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= will_paginate @pet, class: 'paginate' %>
