<%= link_to 'All Pets', pets_path %>

<h1>Pet Information</h1>

<ul>
    <li>Name: <%= @pet.name %></li>
    <li>Species: <%= @pet.species %></li>
    <li>Age: <%= @pet.age %></li>
    <li>Price: <%= @pet.price %></li>
</ul>

<%= link_to 'Edit Pet', edit_pet_path %>