<%= render 'store_link' %>

<h1>Order Pet</h1>

<% if @order.errors.any? %>
  <div>
    <h2><%= pluralize(@order.errors.count, 'error') %> prohibited this pet from being saved:</h2>
    <ul>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <h2>Pet Info</h2>

  <table>
    <th>Name</th>
    <th>Species</th>
    <th>Age</th>
    <th>Price</th>
      <tr>
        <td><%= @order.pet.name %></td>
        <td><%= @order.pet.species %></td>
        <td><%= @order.pet.age %></td>
        <td>$<%= @order.pet.price %></td>
      </tr>
  </table><br />
  <div class="box">
    <div class="pet-image-container"><%= image_tag(pet_image_path(@order.pet), alt: 'Pet Image', class: 'pet-image') %></div>
  </div>
</div>

<%= form_with model: @order, url: orders_path, method: :post do |form| %>
  <%= form.label :user_email, 'Email ' %>
  <%= form.text_field :user_email, placeholder: 'user@example.com' %>

  <%= form.hidden_field :pet_id, value: @order.pet.id %>

  <%= form.submit 'Order' %>
<% end %>
