<h1>Order Details</h1>

<ul>
    <li>Order Confirmation Number: <%= @order.order_confirmation_number %></li>
    <li>Order Date: <%= @order.order_date %></li>
    <li>User Info: <%= @order.user_email %></li>
    <li>Pet: <%= @order.pet.name %></li>
    <li>Total: $<%= @order.pet.price %></li>
</ul>

<%= button_to "Cancel Order", order_path(@order.id), method: :delete, data: { turbo_confirm: "Cancel order for #{@order.pet.name}?" } %>
