<h1>Pets</h1>
<section>
    <ul>
        <li><%= link_to 'Add Pet', new_pet_path %></li> <!-- POST /pet (Add a new pet to the store) -->
        <li><%= link_to 'Update Pets' %></li> <!-- PUT /pet (Update an existing pet) -->
        <li><%= link_to 'Lookup Pet by ID' %></li> <!-- GET /pet/:id (Retrieve a specific pet by ID) -->
        <li><%= link_to 'Update Pet by ID' %></li> <!-- PUT /pet/:id (Update a specific pet by ID) -->
        <li><%= link_to 'Remove Pet' %></li> <!-- DELETE /pet/:id (Delete a specific pet by ID) -->
    </ul>
</section>