<h1>Pets</h1>
<section>
    <ul>
        <li><%= button_to 'Add Pet'%></li> <!-- POST /pet (Add a new pet to the store) -->
        <li><%= button_to 'Update Pets'%></li> <!-- PUT /pet (Update an existing pet) -->
        <li><%= button_to 'Lookup Pet by ID'%></li> <!-- GET /pet/:id (Retrieve a specific pet by ID) -->
        <li><%= button_to 'Update Pet by ID'%></li> <!-- PUT /pet/:id (Update a specific pet by ID) -->
        <li><%= button_to 'Remove Pet'%></li> <!-- DELETE /pet/:id (Delete a specific pet by ID) -->
    </ul>
</section>