<h1>List of Pets</h1>

<%= link_to 'Home', root_path %>
<%= link_to "Add Pet", new_pet_path %>

<div>

    <% @pet.sort.each do |e| %>
        <div>
        <h2>Pet #<%= e.id %></h2>
        <ul>
            <li><%= e.name %></li>
            <li>Species: <%= e.species %></li>
            <li>Age: <%= e.age %></li>
        </ul>
        </div>

        <%= link_to "Edit", edit_pet_path(e.id) %>
    <% end %>
</div>
