<h1>List of Pets</h1>

<%= link_to 'Home', root_path %>
<%= link_to "Add Pet", new_pet_path %>

<div>

    <% @pet.each do |e| %>
        <div>
        <h2><%= e.name %></h2>
        <ul>
            <li>Species: <%= e.species %></li>
            <li>Age: <%= e.age %></li>
        </ul>
        </div>

    <% end %>
</div>
