<% if flash[:notice] %>
    <div><%= flash[:notice] %></div>
<% end %>

<h1>List of Pets</h1>

<%= link_to "Add Pet", new_pet_path %><br><br>

<div>
    <% count = 1 %>
    <table>
        <th>Name</th>
        <th>Species</th>
        <th>Age</th>
            <% @pet.sort.each do |e| %>
                <tr>
                    <td><%= e.name %></td>
                    <td><%= e.species %></td>
                    <td><%= e.age %></td>
                    <td><%= link_to "Edit", edit_pet_path(e.id) %></td>
                    <td><%= button_to "Delete", pet_path(e.id), method: :delete, data: { turbo_confirm: "Delete #{e.name}?" } %></td>
                </tr>
                <% count += 1 %>
            <% end %>
    </table>
</div>
