<h1>New Pet</h1>

<%= form_with(model: @pet, url: pets_path) do |form| %>
  <% if @pet.errors.any? %>
    <div>
      <h2><%= pluralize(@pet.errors.count, 'error') %> prohibited this pet from being saved:</h2>
      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :species %>
      <%= form.text_field :species %>
    </div>

    <div>
      <%= form.label :age %>
      <%= form.text_field :age %>
    </div>

    <div>
      <%= form.label :price %>
      <%= form.text_field :price %>
    </div>

    <div>
      <%= form.submit 'Add Pet' %>
    </div>
<% end %>